<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>LogReg</title>
</head>

<body>
    <div class="d-flex justify-content-between m-5">
        <h2>Rock on Reggie Colt !!!!  {{user.first_name}}</h2>
        <div>
            <a href="/my_bands" class="btn btn-primary">My Bands</a>
            <a href="/bands/new" class="btn btn-warning">New band</a>
            <a href="/logout" class="btn btn-danger">LOGOUT</a>
            
        </div>
    </div>
    <div class="m-5">
        <h4>All bands:</h4>
        <table class="table table-striped text-center">
            <tr>
                <th>Band name</th>
                <th>Founding Member</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
            {%for band in bands%}
            <tr>
                <td><p href="/bands/{{band.id}}">{{band.bandname}}</p></td>
                <!-- <td>{{user.first_name}} {{user.last_name}}</td> -->
                <td>{{band.musicgenre}}</td>
                <td>{{band.homecity}}</td>
                <td>
                    {%if band.user_id == session['user_id'] %}
                      <a href="/bands/{{band.id}}/edit"> edit</a>
                    | <a href="/bands/{{band.id}}/destroy"> delete</a>
                    {%endif%}
                </td>
            </tr>
            {%endfor%}
        </table>
    </div>
</body>
</html>