<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>LogReg</title>

</head>

<body>
    <div class="d-flex justify-content-between m-5">
        <h2>Edit Band!</h2>
        <div>
            <a href="/dashboard" class="btn btn-secondary">Back to Band</a>
            <a href="/logout" class="btn btn-danger">LOGOUT</a>
        </div>
    
    </div>
    <div class="row text-center m-5">
        <div class="col-6">
            <form action="/bands/edit" method="post">
                {%for message in get_flashed_messages(category_filter=["edit"])%}
                <p class="text-danger">{{message}}</p>
                {%endfor%}
                <input type="hidden" name="id" value="{{band.id}}">
                <div class="form-group">
                    <label for="">Band name </label>
                    <input type="text" name="bandname" class="form-control" value="{{band.bandname}}">
                </div>
                <div class="form-group">
                    <label for="">music genre</label>
                    <input name="musicgenre" class="form-control" value="{{band.musicgenre}}">
                </div>
              

                    <div class="form-group">
                        <label for="">home city</label>
                        <input type="text" name="homecity" class="form-control" value="{{band.homecity}}">
                    </div>


                    <input type="submit" value="UPDATE" class="btn btn-success">
            </form>
        </div>
    </div>
</body>

</html>