body {
    background-color: #000;
}

.header {
    color: white;
    text-transform: uppercase;
    font-size: 3em;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 20px;
}
.container {
    display: flex;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 50px;
    flex-wrap: wrap;
    gap: 40px;
}

.box {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin: auto;   
}