*{
  margin: 0px;
  padding: 0px;
  
}



.nav1{
  background-color: rgba(235, 16, 129, 0.384);
  height: 35px;
  border: 3px solid black;




}
.title1{
  color: white;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}



.title2{
  margin-left: 110px;
}




.nav2{
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-right: 100px;
}




.image1{
  height: 35px;
}





.search{
  flex: 3;
  padding: 10px;
  border: 3px solid black;
}



.title2{
  flex: 1;
}



.img1{
  flex: 1;
  display: contents;
}



.nav3{

  background-color: rgb(193,193,193);
  height: 40px;
  margin: 5px;
}




.element{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-decoration: none;
  list-style: none;
  margin-left: 65px;
  padding: 10px;
}




.nav4{
  background-color: rgb(194,123,160);
  height: 100px;
  margin-left: 110px;
  margin-top: 10px;
  margin-right: 110px;
}




.plushy{
color: white;
text-align: center;
padding: 30px;
}


.sp{
  font-weight:bold
}





.main{
  display: flex;
  justify-content: space-around;
  padding: 15px;
  gap: 150px;
}




.pi{
  display: flex;
  gap: 5px;
}




.best{
  height: fit-content;
  border: 2px solid black;
}



.product{
width: 55%;

}




.four-image{
  display: flex;
  justify-content: center;
  margin-left: 110px;
  margin-right: 10px;
}



.T1{
  font-size: small;

}




.btn{
  display: flex;
  gap: 156px;
  margin-left: 132px;
}



.bouton{
  background-color:rgb(194,123,160) ;
  border-radius: px;
  width: 60px;
  height: 30px;
  border-radius: 20%;
}